<!DOCTYPE html>
<html>
<head>
    <title>Ghibli</title>
    </head>
    <body>

        <h3> Studio Ghibli API </h3>
        <a href="/">back</a>
        <br>

        <h1>{{title1}}</h1>
        <h2> Description </h2>
        <div style="width: 45%; overflow:auto;">
            {{desc1}}
        </div>
        <h2> Release Date </h2>
        {{release1}}

        <br>
        <br>

        <h1>{{title2}}</h1>
        <h2> Description </h2>
        <div style="width: 45%; overflow:auto;">
            {{desc2}}
        </div>
        <h2> Release Date </h2>
        {{release2}}



    </body>
</html>
